*{
    padding: 1rem;
    margin: 1rem;
}
div{
    border: solid;
    border-radius: 1rem;
}

.main{
    background: #000;
    color: white;
    margin: auto;
    width: 60vw;
    text-align: center;
    padding: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: Large;
    height: 130vh;
}

.header{
    background: purple;
    overflow: visible;
    height: 25%;
}

.navbar{
    
    background: chartreuse;
    float: right;
    width: 40%;
    height: 30%;

}
.main-body{
    background-color: cornflowerblue;
    overflow: visible;
    padding: 0;
    height: 60%;
    width: 96%;
    
}
.aside{
    
    background-color:brown;
    float: left;
    height: 80%;
    width: 15%;
}

.article{
    background-color: coral;
    float: left;
    height: 80%;
    width: 65%;
}
.footer{
    /* height: ; */
    clear: both;
}

